#Media Delivery

This generator creates TypeScript/JavaScript client for Media Delivery API.

### Building

To build and compile the typescript sources to javascript use:
```
npm install @cloudinary/{{npmName}}
```
### APIs
For more information see API mds
