# {{appName}}

This generator creates TypeScript/JavaScript client for {{appName}}.

### Building

To build and compile the typescript sources to javascript use:
```
npm install {{npmName}}
```
### APIs
For more information see API mds
